@import url(//db.onlinewebfonts.com/c/fda4c0529ccc3d66b113c3acd3786e09?family=Dijkstra);
@font-face {font-family: "Dijkstra"; src: url("//db.onlinewebfonts.com/t/fda4c0529ccc3d66b113c3acd3786e09.eot"); src: url("//db.onlinewebfonts.com/t/fda4c0529ccc3d66b113c3acd3786e09.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fda4c0529ccc3d66b113c3acd3786e09.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fda4c0529ccc3d66b113c3acd3786e09.woff") format("woff"), url("//db.onlinewebfonts.com/t/fda4c0529ccc3d66b113c3acd3786e09.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fda4c0529ccc3d66b113c3acd3786e09.svg#Dijkstra") format("svg"); }

@font-face {
  font-family: "Nomad";
  src: url("/fonts/nomad/Nomad.otf") format("otf"),
       url("/fonts/nomad/Nomad.ttf") format("ttf"),
       url("/fonts/nomad/Nomad.woff") format("woff");
}

@font-face {
  font-family: "Dijkstra2";
  src: url("/fonts/dijkstra-regular_w98bm/Dijkstra Regular/Dijkstra Regular.ttf") format("ttf");
}

/* @font-face { */
/*   font-family: "Dijkstra"; */
/*   src: url("/fonts/dijkstra/dijkstra.ttf") format("ttf"); */
/* } */

.reveal p,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Dijkstra";
  letter-spacing: 0.02em;
  text-shadow: 0 1px 0 black;
  background: rgba(253,246,227, 0.75);
  padding: 14px 18px;
  margin: 0;
}

.reveal .author {
  font-size: 30px
}

.reveal .date {
  font-size: 20px;
}
